.DS_Store
._*

.Rhistory
.Rapp.history
.RData
.Ruserdata
/*.tar.gz
/*.Rcheck/
.Rproj.user/
vignettes/*.html
vignettes/*.pdf
*.utf8.md
*.knit.md
.Renviron
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace
.history
.ionide
